<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686266007548-md1qp4hvo8jgh5p09hbttck377tsq15v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686266007548-md1qp4hvo8jgh5p09hbttck377tsq15v</string>
	<key>API_KEY</key>
	<string>AIzaSyASmwJ9wazuyZGSejO8og73O4nrpJCN7iw</string>
	<key>GCM_SENDER_ID</key>
	<string>686266007548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>knoxpo.iCloudedemo</string>
	<key>PROJECT_ID</key>
	<string>logindemo-1e71c</string>
	<key>STORAGE_BUCKET</key>
	<string>logindemo-1e71c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686266007548:ios:aa7a13d80d6ef345c37c79</string>
	<key>DATABASE_URL</key>
	<string>https://logindemo-1e71c-default-rtdb.firebaseio.com</string>
</dict>
</plist>